{{> header }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>NodeJS</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit sunt eum quasi rerum laborum inventore, porro distinctio, fugiat nobis accusantium sapiente cumque. Totam ipsa dolore laboriosam deleniti, nam eos maiores.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/nodejs.png" alt="" class="img-thumbnail">
    </div>
</div>
{{> footer }}